* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.text-primary {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 776px;
}

.intro-chunk {
  max-width: 415px;
  padding: 24px;
  font-size: 20px;
}

.card {
  font-weight: 500;
  padding: 8px 24px 24px 24px;
  font-size: 20px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.title {
  font-size: 32px;
}

.indented-heading {
  font-size: 24px;
  max-width: max-content;
  font-weight: 800;
  margin-left: -32px;
  padding: 16px 32px 15px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-top: 0px;
}

.bg-content {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 60%);
}
